<section>
  <div class="page-header">
    <h1>Studentmanagements</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="studentmanagement in vm.studentmanagements"
       ui-sref="studentmanagements.view({ studentmanagementId: studentmanagement._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="studentmanagement.created | date:'mediumDate'"></span>
        by
        <span ng-if="studentmanagement.user" ng-bind="studentmanagement.user.displayName"></span>
        <span ng-if="!studentmanagement.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="studentmanagement.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.studentmanagements.$resolved && !vm.studentmanagements.length">
    No Studentmanagements yet, why don't you <a ui-sref="studentmanagements.create">create one</a>?
  </div>
</section>
