<section>
  <div class="page-header">
    <h1>Attaindancemanagements</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="attaindancemanagement in vm.attaindancemanagements"
       ui-sref="attaindancemanagements.view({ attaindancemanagementId: attaindancemanagement._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="attaindancemanagement.created | date:'mediumDate'"></span>
        by
        <span ng-if="attaindancemanagement.user" ng-bind="attaindancemanagement.user.displayName"></span>
        <span ng-if="!attaindancemanagement.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="attaindancemanagement.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.attaindancemanagements.$resolved && !vm.attaindancemanagements.length">
    No Attaindancemanagements yet, why don't you <a ui-sref="attaindancemanagements.create">create one</a>?
  </div>
</section>
