<section>
  <div class="page-header">
    <h1>Admissionmanagements</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="admissionmanagement in vm.admissionmanagements"
       ui-sref="admissionmanagements.view({ admissionmanagementId: admissionmanagement._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="admissionmanagement.created | date:'mediumDate'"></span>
        by
        <span ng-if="admissionmanagement.user" ng-bind="admissionmanagement.user.displayName"></span>
        <span ng-if="!admissionmanagement.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="admissionmanagement.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.admissionmanagements.$resolved && !vm.admissionmanagements.length">
    No Admissionmanagements yet, why don't you <a ui-sref="admissionmanagements.create">create one</a>?
  </div>
</section>
