<section>
  <div class="page-header">
    <h1>Attendancemanagements</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="attendancemanagement in vm.attendancemanagements"
       ui-sref="attendancemanagements.view({ attendancemanagementId: attendancemanagement._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="attendancemanagement.created | date:'mediumDate'"></span>
        by
        <span ng-if="attendancemanagement.user" ng-bind="attendancemanagement.user.displayName"></span>
        <span ng-if="!attendancemanagement.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="attendancemanagement.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.attendancemanagements.$resolved && !vm.attendancemanagements.length">
    No Attendancemanagements yet, why don't you <a ui-sref="attendancemanagements.create">create one</a>?
  </div>
</section>
